body::before {
  display: block;
  content: "";
  height: 60px;
}

.logo {
  width: 70px;
}

.menu {
  position: absolute;
  padding: 0.5rem 0;
  list-style: none;
  text-align: start;
  z-index: 2;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #0000004e;
  display: none;
  overflow: hidden;
}

.menu-active {
  display: block;
}
